# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/
.env

# environment vars
.env_local

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# Docker
docker-compose.override.yml
*.dockerfile

# IDE settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
MANIFEST
